<section>
        <div class="row">
        <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table">
                        <th>
                            Branches
                        </th>                                                                                                                                                                                
                    <tbody>
                        <tr ng-repeat="newType in branches.branches">
                            <td>{{newType.branch}}</td>
                        </tr>  
                    </tbody>
                </table> 
            </div>
        </div>
    </div>   
</section>