<section>
    <div  class = "form-group">
            <form class="simple-form" ng-submit="deviceType.update(deviceType.newType)">
                <input class = "form form-control" type="text" ng-model="deviceType.newType.Desciption" placeholder="Create Device Type"/ ng-required="true">
                <br/>
                <input class = "btn btn-primary" type="submit"/>
            </form>
    </div>

    <pre>newType {{deviceType.newType|json}}</pre>

    <div>{{deviceType.devices}}</div>
</section>