<section>
    <div  class = "form-group">
            <form class="simple-form" ng-submit="deviceType.update(deviceType.newType)">
                <input class = "form form-control" type="text" ng-model="deviceType.newType.desciption" placeholder="Create Device Type"/ ng-required="true">
                <br/>
                <input class = "btn btn-primary" type="submit"/>
            </form>
    </div>

    <pre>newType {{deviceType.newType|json}}</pre>

    <div class = "row">
        <div class = "col-xs-12"
          <div class = "table-responsive">
              <table class = "table">
                <th>
                  Device Type
                </th>
                <tr ng-repeat="newType in deviceType.devices">
                  <td>{{newType.desciption}}</td>
                </tr>
              </table>
          </div>
        </div>
    </div>

</section>