<section>
    <div  class = "form-group">
            <form class="simple-form" ng-submit="deviceType.update(deviceType.newType)">
                <input class = "form form-control" type="text" ng-model="deviceType.newType.desciption" placeholder="Create Device Type"/ ng-required="true">
                <br/>
                <input class = "btn btn-primary" type="submit"/>
            </form>
    </div>

    <div class = "row">
        <div class = "col-xs-12"
          <div class = "table-responsive">
              <table class = "table">
                <th>
                  Device Type
                </th>
                <tr ng-repeat="newType in deviceType.devices track by $index">
                  <td>{{newType.desciption}}</td>
                  <td>
                      <button type="button" class="btn btn-danger btn-sm" ng-click="deviceType.delete(newType, $index)" title="Delete Device"><i class="fa fa-trash" aria-hidden="true"></i></button>
                  </td>
                </tr>
              </table>
          </div>
        </div>
    </div>

</section>