<section>
<section>
     <script type="text/ng-template" id="devicecreatemodal.html">

    <div class="modal-header">
        <h4 class="model-title" ng-if="vm.assetInput.id == null">Create New Asset</h4>
        <h4 class="model-title" ng-if="vm.assetInput != null && vm.assetInput.id">Edit Asset</h4>
    </div>
    <div class = "modal-body">
       <form class = "simple-form" ng-submit="vm.createOrUpdate(assetValidate,vm.assetInput)"  name = "assetValidate">
            <select class = "form form-control" name="devices" ng-model = "vm.assetInput.deviceTypeID" value = "">
                <option ng-if = "vm.assetInput.deviceTypeID == null" value="">Choose Device Type</option>
                <option ng-if = "vm.assetInput.deviceTypeID != null && vm.assetInput.deviceTypeID" value=" vm.assetInput.deviceTypeID">{{vm.assetInput.deviceTypeID}}</option>
                <option ng-repeat="x in vm.devices" value = {{x.id}}>{{x.desciption}}</option>
            </select>
            <br>
            <select class = "form form-control" name="Location"  ng-model = "vm.assetInput.locationID">
                <option value="">Choose Location</option>
                <option ng-repeat="x in vm.locations" value = {{x.id}}>{{x.description}}</option>
            </select>
            <br>
            <select class = "form form-control" name="Branch" ng-model = "vm.assetInput.branchID">
                <option value="">Choose Branch</option>
                <option  ng-repeat="x in vm.branches" value = {{x.id}}>{{x.branch}}</option>
            </select>
            <br>    
            <input class = "form form-control" type="text" ng-model="vm.assetInput.name" placeholder="Name"/ ng-required="true">
            <br>
            <input class = "form form-control" type="text" ng-model="vm.assetInput.manufacturer" placeholder="Manufacturer"/ ng-required="true">
            <br>
            <input class = "form form-control" type="text" ng-model="vm.assetInput.size" placeholder="Size"/>
            <br>
            <input class = "form form-control" type="text" ng-model="vm.assetInput.model" placeholder="Model"/>
            <br>
            <input class = "form form-control" type="text" ng-model="vm.assetInput.operatingSystem" placeholder="OperatingSystem"/>
            <br>
            <div class = "modal-footer">
            <button class="btn btn-primary" 
                        type="submit"
                        ng-if="vm.assetObj.id == undefined">Create</button>
            <button class="btn btn-primary" 
                        type="submit"
                        ng-if="vm.assetInput != null && vm.assetInput.id">Update</button>
            <button class="btn btn-warning" 
                        type="button" 
                        ng-click="vm.cancel()">Cancel</button>
            </div>
       </form>

       <br>
       <pre> assetObj {{vm.assetInput|json}}</pre>
       <br>

    </div>       
</section>

  
</section>

