<section>
    <div  class = "form-group">
            <form class="simple-form" ng-submit="location.update(location.newType)">
                <input class = "form form-control" type="text" ng-model="location.newType.Description" placeholder="Create Location" / ng-required="true">
                <br/>
                <input class = "btn btn-primary" type="submit"/>
            </form>
    </div>
    
    <div class = "row">
            <div class = "col-xs-12"
            <div class = "table-responsive">
                <table class = "table">
                    <th>
                    Location
                    </th>
                    <tr ng-repeat="newType in location.locations track by $index">
                    <td>{{newType.description}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm" ng-click="location.delete(newType, $index)" title="Delete Device"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
</section>