<div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Devices</h2>
    </div>
  </div>
  <div class="col-sm-12">
    <!-- This belongs to the Inspector Page and its the search field and create button field -->
    <form>
      <div class="row">
          <div class="simple-form">
            <div class="col-sm-3">
                <select class = "form form-control" name="Branches" ng-model="main.branchSearch" ng-change = "main.onDropdownSelect(main.branchSearch)">
                    <option value = "" ng-selected="main.branchSearch = """>Search Device Name</option>
                    <option ng-repeat="x in main.branches" value = {{x.id}}>{{x.branch}}</option>
                </select>
            </div>
            <div class="col-sm-7">
              <input type="text" 
                     class="form-control"  
                     placeholder="Search Device Name" 
                     ng-model="main.deviceSearch">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-primary" ng-click="main.update()">Create New Device</button>
            </div>
      </div><!-- closing tag for form-group -->
      <br>
    </form>
    <br>
    <!--<pre>branchSearch {{main.branchSearch|json}}</pre>
    <pre>deviveSearch {{main.deviceSearch|json}}</pre>-->

 <div ng-include="'views/devicecreatemodal.html'"></div>
    <!-- included the devicecreateModal view -->

  </div><!-- closing tag for form search and create inspector form -->
    <div class="row">
      <div class="table-responsive">
        <table class="table table-inspector">
          <thead>
            <tr>
              <th>Device Owner</th>
              <th>Device Name</th>
              <th>Branch</th>
              <th>Location</th>
              <th>Device Type</th>
              <th>Manufacturer</th>
              <th>Size</th>
              <th>Model</th>
              <th>Operating System</th>              
            </tr>
          </thead>
            <tbody>      
                <tr ng-repeat="x in main.assets | filter:{branchID:main.search} | filter:{name:main.deviceSearch}">
                <td>Void</td>
                <td >{{x.name}}</td>                
                <td>{{( main.branches | filter: {id: x.branchID})[0].branch}}</td>
                <td >{{( main.locations | filter: {id: x.locationID})[0].description}}</td>
                <td>{{( main.devices | filter: {id: x.deviceTypeID})[0].desciption}}</td>
                <td>{{x.manufacturer}}</td>
                <td>{{x.size}}</td>
                <td >{{x.model}}</td>
                <td >{{x.operatingSystem}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" ng-click="main.update(x)" title="Edit Device"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="main.delete(x, $index)" title="Delete Device"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
              </tr>
            </tbody>
        </table>
                
      </div>

    </div>